html, body {
    padding: 10px;
    background-color: #333333;
    color: whitesmoke;
    font-family: ubuntu;
    height: 80%;
}
ul {
    list-style-type: none;
    width: 100%;
    padding: 0;
}
#title {
    font-size: 36px;
    width: 30%;
}
#main {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%
}
#appContainer {
    display: flex;
    width: 30%;
    align-items: left;
    flex-direction: column;
}
#newTodoInput {
    background-color: #333333;
    color: whitesmoke;
    font-size: medium;
    border: none;
}
.actionButton {
    background-color: #333333;
    color: gray;
    font-size: medium;
    border: solid 1px gray;
    border-radius: 8px;;
    outline: none;
    margin: 5px;
}
.strikeMeDown {
    text-decoration: line-through;
    color: grey;
}