.main {
        margin: 0;
        position: absolute;
        top: 20%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        color: whitesmoke;
}

body {
    background-color: #333333;
}

.strikeMeDown {
    text-decoration: line-through;
}

